<div class="row">
  <div class="col-10">
    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">No. of Stocks</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <th scope="row"><%= friend.username %></th>
            <td><%= friend.email %></td>
            <td><%= friend.stocks.count %></td>
            <td><%= link_to 'Unfollow', '#', method: :delete, class: 'btn btn-sm btn-danger',
              data: {confirm: 'Are you sure ?'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>