<h2 class="mt-3 text-white">Most Active</h2>
<%= render 'most_active' %>

<h2 class="mt-3 text-white">Top gainers</h2>
<%= render 'top_gainers' %>

<h2 class="mt-3 text-white">Top Losers</h2>
<%= render 'top_losers' %>
