<div class="result-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="flex-container">
    <div class="card card-header result-block">
      <strong>Symbol: </strong> <%= @stock.ticker %>
      <strong>Company: </strong> <%= @stock.name %>
      <strong>Price: </strong> <%= @stock.last_price %>
    </div>
  </div>
<% end %>