@import 'bootstrap';

.navbar-brand {
  font-size: 2rem;
}

.navbar {
  background-color: black !important; 
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

html,
body {
  height: 100%;
}

#background-image {
  background-image: asset-url('background.jpg');
  background-position: center center;
 }

#page-content {
  flex: 1 0 auto;
}

#refresh-button {
  margin-right: 20px;
  margin-bottom: 5px;
}

#sticky-footer {
  flex-shrink: none;
}

.font-red {
  color: rgb(248, 4, 4);
}

.font-green {
  color: rgb(40, 247, 40);
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 1px;
}

.no-left-padding {
  padding-left: 1px;
}

.result-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
