<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Khalil Kum", 'https://github.com/2k-joker', class: 'text-white' %></small>
  </div>
</footer>